.carousel-menu{
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
	top: -95px;
	width: 74%;
    margin-left: -37%;
    left: 50%;
    position: relative;
	padding:20px;
	text-align:center;
}

.carousel-control.left{
	background-image: none;
}
.carousel-control.right{
	background-image: none;
}
.carousel-control{
	width:5%;
}
.carousel-menu div{
	color: black;
    min-height: 100px;
    line-height: 95px;
    text-align: center;
	
}
.carousel-menu div:hover{
	background: #ed1c24;
	color:#fff;
	cursor:pointer;
	text-decoration: none;
}
.carousel-menu h2{
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.carousel-menu img{
	vertical-align: middle;
	display: inline-block;
    margin: 0 10px;
	}
	
.carousel-menu a {
  display: inline-block;
  color:#000;
}

.carousel-menu img {
  transition: all .3s ease;
}

.carousel-menu a:hover img {
  opacity: 0;
}

.carousel-menu .advantages a:hover {
  background: url("/local/templates/krontif_new/images/icon_3_active.png") no-repeat 10px 50%;
  color:#fff;
  text-decoration: none;
}
.carousel-menu .salle a:hover {
  background: url("/local/templates/krontif_new/images/icon_2_active.png") no-repeat 10px 50%;
  color:#fff;
  text-decoration: none;
}
.carousel-menu .registration a:hover {
  background: url("/local/templates/krontif_new/images/icon_4_active.png") no-repeat 10px 50%;
  color:#fff;
  text-decoration: none;
}
.carousel-menu .maps a:hover {
  background: url("/local/templates/krontif_new/images/icon_1_active.png") no-repeat 10px 50%;
  color:#fff;
  text-decoration: none;
}

/*---------------------------------------*/



.a_svg{
	    cursor: pointer;
}