body { 
padding-top: 57px; 
font-family:'Montserrat',Arial,Helvetica,sans-serif;
}

.head-logo{
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  color:#000;
}
.bg-78{
  background:  rgba(255, 255, 255, 0.75);	
}
.head{
  background-image: url(../img/bg-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    overflow: hidden;
}
.head-menu{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: rgba(198, 9, 10, 0.95);
  color:#fff;
}

.bg-222{
  background: rgba(198, 9, 10, 0.75);
  color:#fff;	
  margin:20px;
  padding:1em 0;
}
.bg-22{
  background: rgba(198, 9, 10, 1);
}
.banner{
  padding: 1em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color:#000;	
  min-height: 570px;
  font-family: 'courgette';
  padding-top: 10%;
  text-shadow: 0 1px 1px #000a33;
  text-transform: uppercase;
  
}
.form{
  padding: 2em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  color:#000;	
  height: 450px;
  font-family: 'courgette';
  padding-top: 5%;
  text-shadow: 0 1px 1px #000a33;
  text-transform: uppercase;
  margin-top:20px;
  border-radius: 4px;
}
.head-strong{
  margin-top:25px;
}
.title-content{
  font-family: 'courgette';
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.while-color{

  color: #fff;
}
.block{
    background-color: #fff;
    border: 1px solid #787878;
    padding: 14px;
	margin: 20px;
}
.cotly{
  background-image: url(../img/Departamen.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block-pol{
  background-image: url(../img/litie.jpg);
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;	
}
.bg-pers{
  background-image: url(../img/off.jpg);
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;	

}
.block-video{
  background-image: url(../img/overlay-1.png);
    background-position: top;
    background-repeat: no-repeat;

}
.block-pers{
  background-image: url(../img/overlay-2.png);
    background-position: top;
    background-repeat: no-repeat;
	min-height:200px;
    padding-top: 10%;
}
.block-contact{
  background-image: url(../img/overlay-3.png);
    background-position: top;
    background-repeat: no-repeat;
	min-height:200px;
    padding-top: 10%;
}
.bg-pers .thumbnail{
	background-color: transparent; 
    border: 0px; 

}
.cart-list {
	text-align: center;
}
.menu-contact{
	    padding: 15px 0;
		float:right;
}
.navbar-inverse {
      background: rgba(198, 9, 10, 0.95);
    border-color: #c6090a;
}
.center-block{
	text-align: center;
}

/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:990px;
	height:450px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(../images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:20px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#fff;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}
	
	
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.wrapper {
  max-width: 1170px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/**
 * Use this wrapper only for demo purposes
 * So you can show the items outside the wrapper
 */
.wrapper--demo {
  overflow: visible;
}

.wrapper--demo:after, .wrapper--demo:before {
  content: "";
  position: absolute;
  width: 800px;
  height: 100%;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 2;
}

.wrapper--demo:before {
  left: -800px;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}

.carousel .carousel__content .item {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.carousel .carousel__content .item .title {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -33px 0 0 0;
  padding: 0;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  letter-spacing: .3rem;
  color: #FFF;
}

.carousel .carousel__content .item .title--sub {
  margin-top: 20px;
  font-size: 1.2em;
  opacity: .5;
}

.carousel .carousel__content .item img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}

.carousel .carousel__nav .nav {
  position: absolute;
  top: 0;
  color: #757575;
  background: rgba(255, 255, 255, 0.15);
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: 3rem;
  transition: padding .25s ease;
}

.carousel .carousel__nav .nav:hover {
  padding: 8px 20px;
}

.carousel .carousel__nav .nav--left {
  border-radius: 0px 3px 3px 0px;
}

.carousel .carousel__nav .nav--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

.navbar-nav>li>a {
    line-height: 26px;
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: #787878;
}	
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	opacity: .85;
}
.list_idex{
	padding-bottom:15px;
}

#map-canvas { height: 500px; 
	background-color: #fff;
}
.contacts{
    position: relative;	
	background-color: #fff;
}
.contacts-tab {
    position: absolute;
    top: 310px;
	left:50%; margin-left:-250px;
    z-index: 100;
	width:500px;
    height: 220px;
	padding: 0px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #fff;
    margin: auto;
}
.nav-tabs.nav-justified>li>a {
    border: 1px solid #fff;
    margin: auto;
}
.block li{
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
}
.tab-pane{
	    line-height: 35px;
}
.soc{
    padding: 20px;
}