@media only screen and (max-device-width: 480px) {


.logo {
display: none;
}

.phone_top {
    float: left !important;
}

span.slogan {
    font-size: 23px !important;
    letter-spacing: 0px !important;
	float: left !important;
}

.carousel{
	display:none;
}
.carousel-menu {
	top: 0 !important;
	margin-left: 0 !important;
	left: 0 !important;
	width:100% !important;
}
.carousel-menu img{
    display: none;
}

.carousel-menu div {
    min-height: 30px !important;
    line-height: 5px !important;   
}
.block {
    top: 30px !important;
}
.title-content{
	font-size: 28px !important;
}
.carousel-menu h2 br{
    display: none;
}
.navbar-header{
	background-image: url(/local/templates/krontif_new/images/logo_bootom.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.block p{
	min-height: 100px !important;
}
.bg_catalog_index{
	margin-top: 20px !important;
}
.prem_titl{
	margin-top:0px !important;
}
.bg_catalog_index_krugi{
	height: 100% !important;
	padding-bottom: 25px;
}
.title-content_2{
	position: relative;
	font-size: 28px !important;
    margin: 10px auto 0 auto !important;
	top: -34px !important;
}
.pie_tr{
	margin: 0 !important;
}
.form-horizontal{
    margin-top: 40px;
}
.alert-warning{
	position: relative !important;
    bottom: 150px !important;
    right: 0% !important;
    width: 100% !important;
}

.bootom_menu_1{
	display: none;
}
.bx-aside-nav-control{
	display: none;
}
.carousel-menu{
	display: none;
}

.title-content{
    background-color: #fff;
    margin-top: -10px;
}
.video_about{
	display: none;
}
.seven_svg_left, .seven_svg_right{
	display: none;
}
.seven_list {
    min-height: 25px !important;
    padding: 5px !important;
}
.stat_par{
	font-size: 15px !important; margin:10px !important;
}
.cal_bloc .label{
font-size: 10px !important;}
.doc_dow_1{margin-top:5px}
.doc_dow_1 .doc, .doc_dow_1 .papka{margin: 0 auto;}
.doc_dow_2{margin-bottom:5px;text-align: center;}
.red_get{font-size: 15px !important; padding-left:0 !important; padding-right:0 !important;}
.bclock_red_contur{
	width:100%;
}
.catalog-menu li{
	margin:10px !important;
}
.vbrc{
	display: none;
}
.cart_har{
width:300px; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow: auto;
}
.par{
	width:600px;
}
}
