@font-face {
  font-family: Myriad;
  src: local("Myriad"), url(/local/templates/krontif_new/fonts/Myriad/MyriadPro-Regular.otf);
}
@font-face {
  font-family: Myriad_light;
  src: local("Myriad_light"), url(/local/templates/krontif_new/fonts/Myriad/MyriadPro-Light.otf);
}
@font-face {
  font-family: Comp;
  src: local("Comp"), url(/local/templates/krontif_new/fonts/Pfdin/PFDinTextCompPro-Regular_1.ttf);
}
@font-face {
  font-family: Molot;
  src: local("Molot"), url(/local/templates/krontif_new/fonts/Molot.otf);
}
body { 
font-family:'Myriad',Arial,Helvetica,sans-serif;
color:#000;
  background-image: url(./images/bacgraunt.png);
  background-repeat: repeat;

}

body{
	    font-size: 16px;
		color:#29292d;
}
a {
	cursor: pointer;
}
.calcul{
	padding:30px
}
.hictory_tytle_img{
    max-width: 750px;
	width:100%;
    margin: 0 0 40px 0;
}
.history_h2_title{
	height: 70px;
    display: block;
	position:relative;
	text-align:center;
	
}
.history_h2_title .h2{
	font-size:62px;
	font-family:"Molot";
	fill:#aaaaaa;
	font-weight: 100;
	margin-top: -76px;
}


.content_h2_title{
	height: 70px;
    display: block;
	position:relative;
	text-align:center;
	
}
.content_h2_title .h2{
	font-size:24px;
	font-family:"Molot";
	fill:#e71b22;
	font-weight: 100;
	margin-top: -76px;
}

.news_list{
	margin-top:40px;
}
.news_list img {
	max-width:220px;
    float:left; 
    margin: 0 7px 0 0; 
   }
.news_list .date{
	   color:#c4c4c4;
	   font-size:16px;
	   border-right: 2px solid #c4c4c4;
   }
.news_list .prev a{
	text-transform: uppercase;
	color:#29292d;
	display: block;
	
}
.news_clic .btn-danger{
	    border-radius: 0px;
		background-color: #ed1c24;
		border-color: #ed1c24;
		text-transform: uppercase;
		margin: 10px 0;
}
.news_clic .btn-danger:hover{
	background-color: #fff;
	color: #ed1c24;

}
.news_list .date span{	 
	   font-size:48px;
   }
 
.news_detail .date{
	   color:#29292d;
	   font-size:24px;
	   border-left: 2px solid #cd181f;
	   text-transform: uppercase;
	   margin-bottom: 40px;
   } 
.news_detail .date h2{
	    margin-top: 0px;
}   
.news_detail .date span{
	color:#c4c4c4;
	font-size:18px;
}

.news_detail img {
	max-width:30%;
    float:left; 
    margin: 0 7px 0 0; 
   }

.cal_bloc{
	margin: 40px 0;
}  
.cal_bloc span{
	color:#e42426;
	font-weight:bold;
} 

.cal_bloc a{
	text-decoration:underline;
	color: #29292d;
}

.blc_kon{
    margin-bottom: -30px;
}

.seven_pchin{
background-color:#e42426;	
margin-top: -61px;
}

.seven_svg_left{
	position: absolute;
    top: 0;
    left: 0;
    
}
.seven_svg_right{
    position: absolute;
    top: 0;
    right: 0;
    
}
.seven_pchin .seven_content_top{
background-color:#fff;	
position: relative;
padding: 10px 20px;
}
.seven_list{
	min-height:450px;
	padding: 0px 40px;
}
.seven_list_title{
    display: block;
    text-align: center;
    font-size: 62px;
    font-family: "Molot";
    color: #e42426;
}
.seven_list h3{
	color: #e42426;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 20px;
	text-align: center;
}

.seven_list strong{
    display: block;
    text-align: center;
    margin: 10px 0;
}

.news_top{	
	background-color:#f0f0f0;
	border-left: 2px solid #cd181f;
}
.news_top img {
	max-width:220px;
    float:left;
    margin: 0 7px 0 0;
   }
.news_top .date{
	   color:#c4c4c4;
	   font-size:16px;
	   
   }
.news_top .prev a{
	text-transform: uppercase;
	color:#29292d;
	display: block;
	
} 

.news_top .date span{	 
	   font-size:48px;
   }  
   
.bg-g{
	background-color:#fff; 
}
.head-logo{
	background-color:#f0f0f0; 
	padding: 30px;
}
.nav>li>a {
	padding: 10px 10px;
}
.bg-78{
  background:  rgba(255, 255, 255, 0.60);	
}

.war{
	min-height: 400px;
	padding: 100px 0;
}
.head-menu{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: rgba(237, 28, 36, 0.80);
  color:#fff;
}
.thead{
  background: #e42426;
  color:#fff;	
}
.glyphicon{
  top: 4px;
}

.bg-222{
  background: rgba(198, 9, 10, 0.80);
  color:#fff;	
  margin:20px;
  padding:1em 0;
}
.bg-22{
  background: rgba(198, 9, 10, 1);
}
.banner{
  padding: 1em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color:#000;	
  min-height: 570px;
  font-family: 'courgette';
  padding-top: 10%;
  text-shadow: 0 1px 1px #000a33;
  text-transform: uppercase;
  
}
.navbar-fixed-top{
	    border-width: 0 0 4px;
}
.form{
  padding: 2em;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  color:#000;	
  height: 450px;
  font-family: 'courgette';
  padding-top: 5%;
  text-shadow: 0 1px 1px #000a33;
  text-transform: uppercase;
  margin-top:20px;
  border-radius: 4px;
}
.head-strong{
  margin-top:25px;
}
.title-content
{   
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
	margin-bottom: 40px;
}
.title-content_2
{   
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
	margin: 110px auto 0 auto;
}
.title-content span
{  
	color:#fb0606;
}
.title-content_2 span
{  
	color:#fff;
}
.bg_catalog_index{
    margin-top: -80px;
background: url(/local/templates/krontif_new/images/bg_catalog_index_1.png) no-repeat top right, url(/local/templates/krontif_new/images/bg_catalog_index_2.png) no-repeat bottom left, #f0f0f0;
background-size: 130px auto;
}
.while-color{

  color: #fff;
}
.block{
    position: relative;
    top: -60px;

}
.block img{
	margin: 0 auto;
    display: block;
}
.block h3{
	text-align: center;
	color:#ed1c24;
	text-transform: uppercase;
	font-size: 20px;
}

.block p{
	font-size: 16px;
	color:#29292d;
	padding: 0 20px;
	text-align: justify;
}
.block strong{
	font-size: 20px;
	font-weight: bold;
	color:#29292d;
	display: block;
	padding: 0 10% 10px 10%;
    text-align: center;
}
.con-cart{
	min-height:465px;
}
.block .cart-list h3{
	font-size: 28px;
}
.thumbnail .b{
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
    width: 75%;
    display: block;
	text-transform: uppercase;
}
.block .cart-list ul li{
    list-style: none; /* Убираем исходные маркеры */
    background: url(/local/templates/krontif_new/images/li_marcer.png) no-repeat; /* Параметры фона */
    background-size: 15px 30px;
 	min-height: 30px;
	padding-left: 34px;
	padding-right: 30px;
	margin-top: 10px;
	font-size: 20px;
   }
.block .cart-list .thumbnail .caption{
	min-height: 325px;
}
.block .cart-list .thumbnail img{
	max-height: 300px;
}
.hit_title img {
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
}
.hit_title h3 {
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 15px 0 0 0;
    vertical-align: middle;
}
.hit_title{
    margin-top: -45px;
    margin-bottom: 45px;
}

.bg_catalog_index_hit{
	background:#f0f0f0;
	padding:20px;
}

.bg_catalog_index_hit .hit_list img{
	max-width:140px;
}
.bg_content {
    background: #ffffff;
    padding: 30px 0;
}
.krontif_ul li{
	
    list-style: none;
    background: url(/local/templates/krontif_new/images/li_marcer.png) no-repeat;
    background-size: 15px 20px;
    min-height: 30px;
    padding-left: 26px;
    padding-right: 30px;
    margin-top: 20px;
   

}
.krontif_ul_2 li{
	
    list-style: none;
    background: url(/local/templates/krontif_new/images/li_marcer_2.png) no-repeat;
    background-size: 12px 12px;
    min-height: 20px;
    padding-left: 26px;
    padding-right: 30px;
    margin-top: 20px;
	background-position-y: 6px;
   

}

.krontif_ul_3 li{
	
    list-style: none;
    background: url(/local/templates/krontif_new/images/li_marcer_2.png) no-repeat;
	background-position-y: 10px;
    background-size: 12px 12px;
    min-height: 20px;
    padding-left: 26px;
    padding-right: 30px;
    margin-top: 0px;
	margin-left: -40px;  

}

.krontif_ul_3 ul{
	margin-left: 10px; 
}

.h3{
font-size: 20px;
    font-weight: bold;	
}

.h2{
	font-size: 30px;
    font-weight: bold;
}
.bg_blue{
    background: #bebebe;
    min-height: 440px;
    display: block;
    padding: 30px;
}
.red_contet{
	padding: 10px 0;
	color:#fff;
	    font-size: 20px;
    font-weight: bold;
}
.red_contet img{
	margin-right:10px;
}
.krontif_ul{
	margin-left: -40px;
}
.krontif_ul_2{
	margin-left: -40px;
}
.hit_list{
	text-align:center;
	background: #fff;
	position:relative;
	    margin: 0 30px;
		padding: 50px 0 20px 0;
}
.hit_list a{
    text-transform: uppercase;
	color:#36363a;
	font-size: 16px;
}

.catalog_index_hit_clic{
	margin: 30px 0;
}
.bg_catalog_index_hit_clic{
	background:#f0f0f0;
}

.prem_titl{
	margin-top:100px;
}

.diogramma {
    background: #ECF5E4;
    width: 700px; height: 700px;
    text-align: center;
    font: 40px/100px Times, serif;
    border: 24px solid #95CD8B;
    border-right: 24px solid #D0E6BB;
    border-radius: 800px;
   }

.cotly{
  background-image: url(./img/Departamen.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block-pol{
  background-image: url(./img/litie.jpg);
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;	
}
.bg-pers{
  background-image: url(./img/off.jpg);
  background-attachment: fixed;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;	

}
.block-video{
  background-image: url(./img/overlay-1.png);
    background-position: top;
    background-repeat: no-repeat;

}
.block-pers{
  /*background-image: url(./img/overlay-2.png);
    background-position: top;
    background-repeat: no-repeat;
	min-height:200px;
    padding-top: 10%;*/
}
.block-contact{
  background-image: url(./img/overlay-3.png);
    background-position: top;
    background-repeat: no-repeat;
	min-height:200px;
    padding-top: 10%;
}
.bg-pers .thumbnail{
	background-color: transparent; 
    border: 0px; 

}
.cart-list {
	text-align: left;
}
.menu-contact{
	    padding: 15px;
}
.logo{
	float:left;
    margin-top: -25px;
}
.navbar-inverse {
    background: #ed1c24;
    border-color: #ed1c24;
	margin-bottom: 0px;
}
.center-block{
	text-align: center;
}
.phone_top{
    width: 275px;
    padding: 5px;
    position: relative;
    float: right;	
}
.phone_top img{
    margin: 0 5px;
}
.phone_top .title_phone{
    position: absolute;
    top: 0px;
    color: #8a8a8a;
    font-size: 14px;
}

.phone_top .number_phone{
    font-size: 33px;
    position: absolute;
    top: 7px;
	right:0px;
    font-weight: bold;
    letter-spacing: 1px;
}
span.slogan{
	color:#8a8a8a;
	font-size: 48px;
	float: right;
	font-family:'Comp';
	letter-spacing: 1px;
}
/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:25px auto 20px auto;
	width:990px;
	height:450px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}
.ca-more{
	position: absolute;
	bottom: 10px;
	right:0px;
	padding:4px 15px;
	font-weight:bold;
	background: #ccbda2;
	text-align:center;
	color: white;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	text-shadow:1px 1px 1px #897c63;
}
.ca-close{
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(./images/cross.png) no-repeat center center;
	width:27px;
	height:27px;
	text-indent:-9000px;
	outline:none;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	opacity:0.7;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:20px;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	background:#fff;
	overflow:hidden;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-item h3{
	font-family: 'Coustard', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:#000;
	margin-bottom:20px;
	height:85px;
	text-align:center;
	text-shadow: 0px 1px 1px #e4ebe9;
}
.ca-item h4{
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
	font-size:12px;
	text-align:left;
	border-left:10px solid #b0ccc6;
	padding-left:10px;
	line-height:24px;
	margin:10px;
	position:relative;
}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	font-size:100px;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(./images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-40px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}
	
	
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.wrapper {
  max-width: 1170px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/**
 * Use this wrapper only for demo purposes
 * So you can show the items outside the wrapper
 */
.wrapper--demo {
  overflow: visible;
}

.wrapper--demo:after, .wrapper--demo:before {
  content: "";
  position: absolute;
  width: 800px;
  height: 100%;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.60);
  z-index: 2;
}

.wrapper--demo:before {
  left: -800px;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}

.carousel .carousel__content .item {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.carousel .carousel__content .item .title {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -33px 0 0 0;
  padding: 0;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  letter-spacing: .3rem;
  color: #FFF;
}

.carousel .carousel__content .item .title--sub {
  margin-top: 20px;
  font-size: 1.2em;
  opacity: .5;
}

.carousel .carousel__content .item img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}

.carousel .carousel__nav .nav {
  position: absolute;
  top: 0;
  color: #757575;
  background: rgba(255, 255, 255, 0.15);
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: 3rem;
  transition: padding .25s ease;
}

.carousel .carousel__nav .nav:hover {
  padding: 8px 20px;
}

.carousel .carousel__nav .nav--left {
  border-radius: 0px 3px 3px 0px;
}

.carousel .carousel__nav .nav--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

.navbar-nav>li>a {
    line-height: 32px;
}
.navbar-inverse .navbar-nav>.active>a{
	background-color: #787878;
}	
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
    font-size: 14px;
    font-family: 'Myriad';
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 19px;
    height: 50px;
    line-height: normal;
    padding-right: 19px;
	}
.navbar-inverse .navbar-nav>li>a span{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.navbar-nav>li	{
	background-image: url(/local/templates/krontif_new/images/line_menu.png);
    background-repeat: repeat-y;
    background-position: right;
   max-width: 170px;
   margin: 5px 0;
}
.navbar-collapse .navbar-nav li:last-of-type{
	background:none;
}

@media (min-width: 768px){
.navbar-nav {
    float: inherit;
    margin: 0px auto;
    max-width: 1024px;
}
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	opacity: .85;
}
.list_idex{
	padding-bottom:15px;
}

#map-canvas { height: 500px; 
	background-color: #fff;
}
.contacts{
    position: relative;	
	background-color: #fff;
}
.contacts-tab {
    position: absolute;
    top: 310px;
    left: 50%;
    margin-left: -25%;
    z-index: 100;
    width: 50%;
    min-height: 220px;
    padding: 0px;
	
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 0px solid #fff;
    margin: auto;
}
.nav-tabs.nav-justified>li {
    height: 55px;
}
.nav-tabs.nav-justified>li>a {
    border: 0px solid #fff;
    margin: auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
}
.blok li{
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
}
.tab-pane{
	    line-height: 35px;
}
.soc{
    padding: 20px;
}

.th{
    text-align: center;
}

.red_title_bg{
	background-color: #ed1c24;
}
.pie_tr{
	width: 110px;
    height: 55px;
    margin:80px 0 0;
    z-index: 99;
    
}

.previous .tr_el{
	fill: #fff;
}
.next .tr_el{
	fill: #36363a;
}
.pie_tr .tr_el:hover{
	fill: #787878;
}
.center {
	    text-align: center;
}
.form_title {
	font-size: 16px;
}
.promo_index_footor .svg_g_footer g{
	cursor:pointer;
}
.promo_index_footor .svg_g_footer g:hover polyline{
	fill: #000;
	stroke: #ed1c24;
}

.checkbox {
	display: none;
}
.checkbox-custom {
	position: relative;      
	width: 24px;             
	height: 24px;            
	border: 1px solid #000;
	background: #fff; 
	margin: 0 10px 0 0;
	
}
.cal_bloc .label{
	color:#29292d;
	font-size: 16px;
	font-weight:normal;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";             
	display: block;			 
	position: absolute; 
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background-image: url(./images/ptc_ico.png); 
    background-position: center;
    background-repeat: no-repeat;	
	
}
#results-maps{
	width: 300px; height: 300px
}
.form-group-st{
	margin: 5px 0;
}
.file_upload{
    height: 25px;
    border: 0px solid #000;
    font-size: 12px;
    color: #a9a9a9;
}
.form-horizontal .input button, input, select, textarea {
	min-height: 25px;
	border: 1px solid #000;
	font-size: 16px;
	color:#a9a9a9;
}

.btn_form{
	background:transparent;
	border: 0px;
}
.pie_form{
	Width: 335px;
    height: 165px;
    z-index: 99;
	cursor:pointer;
}

.form_result{
	background: transparent;
    border: 0;
    color: #ed1c24;
    padding-bottom: 6px;
    text-align: right;
    font-weight: bold;
}

.pie_form .tr_el_1{
	fill: #c5c6c6;
}
.pie_form:hover .tr_el_1{
	fill: #9b090f;
	-webkit-transition: all 0.9s ease;
}

.pie_form:hover .tr_el_2{
	fill: #c5c6c6;
	-webkit-transition: all 0.9s ease;
}
.pie_form:hover text{
	fill: #000;
	-webkit-transition: all 0.9s ease;
}
.right{
    text-align: right;
}
.container_diogramm{
	position: relative;
	height: 0;
	padding-top: 75%;
    width: 100%;
	margin: 0 auto;
}
/*
circle {
  fill: transparent;
  stroke: #fff;
  stroke-width: 5;
}*/
path{
	-webkit-transition: all 0.9s ease;
}

path.one{
	fill:#ff0505;
	 
  
}
path.two{
	fill:#c70206;
}
path.three{
	fill:#9e0306;
}
path.four{
	fill:#6a231c;
}
path.five{
	fill:#420303;
}
path.six{
	fill:#6a231c;
}
path.seven{
	fill:#9e0306;
}
path.eight{
	fill:#c70206;
}
path.ten{
	fill:rgba(91,91,91,0.1);
}
path.ten:hover{
	fill:rgba(91,91,91,0.1);
}
.svg_g:hover path.red{
	fill: #5b5b5b;
	}
.svg_g_center:hover path.center_svg{
	fill: #6a231c;
}
.svg_text{
	fill: #fff;
}
.svg_g{
	cursor: pointer;

}
.white{
	fill: #fff;
}
.center_svg{
	fill: #ccc;
}
svg.pie {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 15%;
    overflow: hidden;
}
.bg_zavod{
	background-image: url(./images/bg_zavod.png);
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*---------Слайдер карусель----------*/


/** page structure **/
#w {
  display: block;
  max-width: 830px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2px 3px;
  position: relative;
  margin-bottom:115px;
}


/** posts slider widget **/
.crsl-items {
  display: block;
  padding: 5px;
}

.crsl-item {
  background: #fff;
  padding: 30px;

}

.crsl-item .thumbnail {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.crsl-item .thumbnail img { 
  display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
  opacity: 0.8;
}
.pie_readmore{
	width: 380px;
    height: 125px;
	position: absolute;
    bottom: 0;
	right:0;
}
.red{
	fill:#d51c24;
}

.crsl-item{
	min-height:265px;
	cursor:pointer;
}

.crsl-item .postdate {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  font-size: 1.2em;
  font-weight: bold;
  background: #4e90da;
}

.crsl-item p {
  font-size: 1.2em;
  line-height: 1.55em;
  margin-bottom: 5px;
}

.crsl-item p.readmore a {
  display: block;
  float: right;
  color: #4e90da;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}





.slidernav a.previous:hover path {
  fill:#36363a;
}
.slidernav a.next:hover path {
  fill:#fff;
}

.crsl-item:hover path.red {
  fill:#252525;
}
.crsl-item:hover path.tr_el {
  fill:#d51c24;
}
.tr_el{
	fill:#252525;
}

/** media queries **/
@media screen and (max-width: 660px) {
  h1 { font-size: 2.4em; line-height: 1.2em; }
  
  .crsl-item h3 { font-size: 1.65em; }
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

.previous{
	position: absolute;
    left: -80px;
	}
	
.next{
	position: absolute;
    right: -80px;
	}	
.pie_nav{
	width: 55px;
    height: 110px;
    margin: 90px 0 0;
    z-index: 99;
}

.promo_index_footor{
	width: 100%;
    height: 330px;

}
.svg_g_footer{
	 width:740px;
	 height: 330px;
	 margin:0 auto;
}
.maps_index{
	position:relative;
}
.alert-warning {
    color: #000;
	border: 3px solid #c70206;
	border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 55px;
    right: 100px;
	width:400px;
	height:260px;
	font-size:24px;
}
.alert-warning .glyphicon{
	color: #c70206;
    margin: 15px 15px 15px 0;
    font-size: 30px;
    float: left;
}
.alert-warning .p{
	margin: 15px 0;
    display: flex;
    width: 100%;
    height: 55px;;
}
.alert-warning .p div{
	width: 310px;
    margin: auto;
}
footer{
	background-image: url(./images/bg_footer.png);
    background-color: #ce181f;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
	display:block;
	height:343px;
	width:100%;
	padding: 50px 0;
}
.bg_catalog_index_krugi{
	background-image: url(./images/bg_krugi.png);
    background-color: #fff;	
	background-repeat: no-repeat;
    background-position: center;
	display:block;
	height:1360px;
	width:100%;
}
.pie_kotel g{
	cursor:pointer;	
    text-transform: uppercase;
}
.pie_kotel g:hover text{
	fill: #e31e24;
	-webkit-transition: all 0.9s ease;
}
.pie_kotel g:hover polyline{	
	stroke-dasharray:10 0;
	
}
.pie_kotel g:hover circle{
	fill: #e31e24;
	-webkit-transition: all 0.9s ease;
}
.pie_kotel_e1{
	display:none;	
}
.pie_kotel g:hover .pie_kotel_e1{
	display:block;
}
.pie_kotel_e2{
	display:none;	
}
.pie_kotel g:hover .pie_kotel_e2{
	display:block;
}

.footer_cont{
	margin-top:40px;
	color:#fff;
	font-size: 22px;
}
footer .input-group-addon {
    padding: 1px 4px; 
    text-align: center;
    background-color: #fff;
    border: 1px solid #949599;
	border-left:none;
border-radius: 0px;
}
footer .form-control {
    display: block;
    width: 100%;
	max-width:225px;
    height: 37px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #949599;
	border-right:none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
footer .input-group{
	box-shadow: 5px 5px #949599;
}

.bx-inclinksfooter-list {
  list-style: none;
  column-count: 2;
  height: 150px; 
  margin-top: 55px;
}
.bx-inclinksfooter-list li {
  page-break-inside: avoid;
  break-inside: avoid;
}

footer .bx-inclinksfooter-list a{
	color: #fff;
    text-decoration: none;
    font-size: 22px;
} 
.molot{
	font-family: 'Molot',Arial,Helvetica,sans-serif;
}
.comp{
	font-family: 'Comp',Arial,Helvetica,sans-serif;
}
.myriad{
	font-family: 'Myriad',Arial,Helvetica,sans-serif;
	/*text-decoration: underline;*/
}

/*
#myCarousel stop {
  -webkit-animation: colors 12s infinite;
          animation: colors 12s infinite;
}

.stop-2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.stop-6 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

@-webkit-keyframes colors {
  0% {
    fill-opacity: #f0625c;
  }
  50% {
	  stop-color: #d91b22;
    
  }
  100% {
   stop-color: #ad181e;
  }
}

@keyframes colors {
  0% {
    stop-color: #f0625c;
  }
  60% {
	  stop-color: #d91b22;
    
  }
  90% {
   stop-color: #ad181e;
  }
  
 
}*/

@supports (-ms-ime-align:auto) {
	.banner_1{
	display:none;   		
	}
	.banner_1_1{
	display:block;	
	}
	
	.pie_banner text{
		fill:#f3d2b2;
	}

}

	.banner_1_1{
	display:none;   		
	}
	.banner_1{
	display:block;	
	}
	
.str{
	background-color:#bebebe;
	display:block;
	height:125px;
}
.main-breadcrumb{
	margin-top:-75px;
}

.bx-nav-2-lvl-container{
   display: none;
   position: absolute;
   background-color: #7a7a84;
   width: 325px;
   z-index:90;
}
.bx-nav-2-lvl-container ul{
	margin-left: 0; 
    padding-left: 0;
}
.bx-nav-2-lvl-container li{
	    border-top: 1px solid #fff;
		list-style-type: none;
		text-align:left;
		padding:10px;
}
.bx-nav-2-lvl-container li a{
	color:#fff;
}
.bx-hover .bx-nav-2-lvl-container{
	display: block !important;
}
.bx-nav-2-lvl:hover{
	background: linear-gradient(to top, #000000, #7a7a84);
}
.head-menu .navbar-nav>li>a:hover {
    opacity: .99 !important;
	color: #38383c !important;
}

.active{
    background-color: transparent !important;
	color: #38383c !important;
}
.st p span{
    font-size: 42px;
    color: #aaaaaa;
    font-weight: 100;
    display: block;
    font-family: Myriad_light;
}
.hit{
	position: absolute;
	top: -10px;
    left: -18px;
}

.bx-file-icon-cover {
    position: absolute;
    top: 0;
    right: 12.5%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: #e5e8eb;
}


.doc{
	position:relative;
   width:50px;
   height:65px;
   padding:1em 1.5em;
   border-left: 2px solid #a60c08;
   border-bottom: 2px solid #a60c08;
   display: block;
   padding-top: 20px;
}

.doc:before {
   content:"";
   position:absolute;
   top:0px;
   right:0px;
   border-width:0 14px 14px 0;
   border-style:solid;
   border-color:#fff #fff #a60c08 #a60c08;
   background:#a60c08;
   display:block; width:0; /* Преодоление ограничений Firefox 3.0 */
}

.doc:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 0px;
  bottom: 0px;
  border-left: 2px solid #a60c08;
}
.doc span:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 14px;
  left: 0px;
  border-top: 2px solid #a60c08;
}
.doc span{
    margin-left: -30px;
    background-color: #a60c08;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    border-radius: 2px;
    letter-spacing: 2px;
}

.arrow {
  position: relative;
  left: -12px;
  bottom: -2px;
  width: 12px;
  height: 14px;
  background: #a60c08;
  border-radius: 3px;
  }
.arrow:before,.arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 0;   
    }

.arrow:after {
    top: 12px;
    right: -6px;
    border-top-color: #a60c08; 
	background-color: #fff;	
    }

a.doc[href $='.doc'] {

}
a.doc[href $='.zip'] {
  padding-left: 18px;
  background-position: 0 0;
  background: transparent url(zip.png) no-repeat;
}

.doc_grup{
	margin: 20px 0;
}
.doc_grup a{ 
	color: #29292d;
	cursor: pointer;
}

.papka{
   position:relative;
   width:65px;
   height:55px;
   padding:1em 1.5em;
   border-left: 5px solid #29292d;
   border-bottom: 5px solid #29292d;
   display: block;
   padding-top: 2px;
}

.papka:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0px;
  bottom: 0px;
  border-left: 5px solid #29292d;
}

.papka:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 45px;
  left: 0px;
  border-top: 5px solid #29292d;
}

.papka .pol1 {
	margin-left: -11px;
    background-color: #29292d;
    text-transform: uppercase;
    padding: 4px;
    width: 44px;
    display: block;
}

.papka .pol2 {
	margin-left: -11px;
    background-color: #29292d;
    text-transform: uppercase;
    padding: 2px;
	margin-top: 6px;
    width: 34px;
    display: block;
}
.papka .pol3 {
	margin-left: -11px;
	margin-top: 4px;
    background-color: #29292d;
    text-transform: uppercase;
    padding: 2px;
    width: 34px;
    display: block;
}
.papka .pol4 {
	margin-left: -11px;
	margin-top: 4px;
    background-color: #29292d;
    text-transform: uppercase;
    padding: 2px;
    width: 25px;
    display: block;
}

.catalog-menu li{
	background: linear-gradient(90deg, #ed1c24, #96080e);
	text-align: center;
	width: 150px;
    height: 100px;
    margin: 0 25px;
}

.catalog-menu li a{
	color: #fff;
	line-height: normal;
}

.catalog-menu li a:hover{
	background: linear-gradient(90deg, #1f1f1f, #bebebe);
	color: #fff;
	width: 150px;
    height: 100px;
}

.catalog-menu li.active a{
	background: linear-gradient(90deg, #797983, #333338);
	color: #fff;
	width: 150px;
    height: 100px;
}

.content_catalog{
	margin: 20px;
}

.vbrc{
	margin:20px;
    position: relative;
}

.vbrc a{
    color: #ed2e3e;
    position: relative;
    top: 39px;
    text-transform: uppercase;
    left: -58px;
    text-decoration: underline;
}
.vbrc a:hover{
	color:#000;
}

.marcet_block{
    padding: 30px;
    border: 1px solid #a7a7a7;
    margin: 10px;
    text-align: center;
	position: relative;
	min-height: 450px;
}

.marcet_block img{
	width:85%;
	margin-top: 35px;
}

.marcet_block a{
    text-transform: uppercase;
    display: block;
    color: #36363a;
    margin: 5px;
}
.marcet_block span{
    display: block;
    color: #ed1c24;
    text-transform: uppercase;
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
}
.marcet_block .plo{
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    color: #fff;
	background-color: transparent;
	z-index: 20;
	padding: 5px;
}

.marcet_block .tr:after {
    content: "";
	position: absolute;
    top: 0px;
    right: 0px;
   border-width: 0 142px 114px 0;
    border-style: solid;
    border-color: #ed1c24 #ed1c24 transparent transparent;
    background: transparent;
    display: block;
    width: 0;
    z-index: 10;
}
.marcet_block p{margin: 0;}

a.btn-catalog-list{
    color: #fff;
    background: linear-gradient(180deg, #777781, #313136);
    color: #fff;
    border-color: transparent;
	border-radius: 0;
    max-width: 125px;
    margin: 10px auto;
	display: block;
}

a.btn-catalog-list:hover{
	background: linear-gradient(180deg, #ed1c24, #96080e);
	color: #fff;
}
.par_l{
    float: left;
	background-color: #fff;
	font-weight: bold;
	}
.par_r{
    float: right;
	background-color: #fff;
	font-size: 12px;
    margin-top: 5px;
	}
.par{
    border-bottom: 1px solid;
    height: 18px;
    border-bottom-style: dotted;
}
.cart-detail .price{
    font-size: 30px;
    font-weight: bold;
    color: #e42426;
    margin-bottom: 20px;
}
.cart-detail-left{
    padding-top: 65px;
}
.cart-detail-right a.btn-catalog-list{
	margin-top: 125px;
	margin-left: 25px;
}
.cart-detail-right{
    font-size: 14px;
    color: #747474;
}
.bclock_red_contur{
    border: 2px solid #e71b22;
    padding: 30px;
    font-size: 20px;
    min-height: 381px;
    line-height: 40px;
}
.bclock_red_v2{
	min-height: 351px;
}

.table-striped th{
    vertical-align: inherit !important;
    text-align: center !important;
}
.table-striped td{
    vertical-align: inherit !important;
    text-align: center !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th {
     border: 3px solid #121f1e;
}
.table-bordered thead tr th.thl{
	border-left: 3px solid #fff;
	border-top: 3px solid #fff;
}
.thead{
    border: 3px solid #121f1e !important;
    
}
.table-bordered td{
    font-size: 14px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ebecec;
}
.titl_dow{
	margin:10px;
}
.doc_dow, .doc_dow a{
    color: #29292d;
    text-decoration: underline;
    margin: 10px;
}
.page, .page2{
    background-color: #f0f0f0;
	position: relative;

}
.lenta{
background-color: #e42426;
padding:20px 20px 0 20px;
}
.page:before {
    content: ' ';
    position: absolute;
    width: 50%;
    height: 117px;
    right: 0;
    top: 0px;
    background-color: #e42426;
}

.page .lenta:after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 117px;
    left: -55px;
    top: 0px;
    border-width: 117px 17px 0px 39px;
    border-style: solid;
    border-color: #e42426 #e42426 #e42426 transparent;
}

.page .lenta:before {
    content: ' ';
    position: absolute;
    width: 95px;
    height: 95px;
    left: -95px;
    top: 40px;
    border-width: 95px 17px 0px 39px;
    border-style: solid;
    border-color: #2b2a29 #2b2a29 #2b2a29 transparent;
}

.page th, .page td, .page2 th, .page2 td{
    border: 1px solid #e42426 !important;
    background-color: #fff !important;
}

.page2:before {
    content: ' ';
    position: absolute;
    width: 50%;
    height: 117px;
    left: 0;
    top: 0px;
    background-color: #e42426;
}

.page2 .lenta:after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 117px;
    right: -55px;
    top: 0px;
    border-width:117px 17px 0px 39px ;
    border-style: solid;
    border-color: #e42426 transparent #e42426 #e42426 ;
}
.page2 .lenta:before {
    content: ' ';
    position: absolute;
    width: 95px;
    height: 95px;
    right: -95px;
    top: 40px;
    border-width: 95px 17px 0px 39px;
    border-style: solid;
    border-color: #2b2a29 transparent #2b2a29 #2b2a29;
}
.page2{
padding-bottom: 100px;
}

.title_spare{
    text-align: center;
    padding: 40px;
    background-color: #e42426;
    color: #fff;
}
.st_spare{
    border-bottom: 2px solid #b5b5b5;
    height: 45px;
}

.partner-menu li {
    background-color: #bebebe;
    text-align: center;
    width: 297px;
	max-width:300px;
    height: 80px;
    margin: 0 20px;
	padding: 10px 50px;
	text-transform: uppercase;
}
.partner-menu li.active, .partner-menu li:hover  {
    background: linear-gradient(90deg, #ed1c24, #96080e);
}
.partner-menu li a  {
    color: #29292d;
    line-height: normal;
}
.partner-menu li.active a {
    color: #fff;

}
.partner-menu li a:hover  {
    color: #fff;
	background-color: transparent;
}
.partner-menu{
	margin-top: 20px;
	margin-bottom: 80px;
}

.grey{
    background-color: #eaeaea;
	padding: 20px;
}
.while{
    background-color: #fff;
	padding: 20px;
}
.submit_krontif{
    background-color: transparent;
    border: 0;
}
.date_coment{
	font-size:12px;
	color:#bebebe;
	margin-left:20px;
}
.catalog_text_comment{
	margin-top:30px;
}
.comment{
	margin-top:40px;
}

.feed-com-img-wrap{
	float: left;
    margin: 18px;
	margin-top:0px;
	z-index: 99;
}
#db-items{
	position: relative;
    z-index: 99;
}
.form-horizontal .form-group{
	margin-right: 0px;
    margin-left: 0px;
}
a.index_raz .b{
	color: #000;
}
a.index_raz:hover{
text-decoration: none;
}

.nav-tabs a{
	color: #ed2e3e;
    font-size: 20px;
}
.nav-tabs .active {
    background-color: #ed2e3e !important;
    color: #fff !important;
}
.nav-tabs .active a {   
    color: #fff !important;
}
.nav-tabs>li>a {

    line-height: 1.42857143;
    border: 0px solid #bebebe;
    border-radius: 0;
    color: #000;
}

.nav-tabs {
	margin-bottom: 20px;
    border-bottom: 0px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: 0px solid #bebebe;
}
.nav-tabs li {
    background-color: #bebebe;
	margin: 5px;
    
}

.search_maps_block{
    background: linear-gradient(90deg, #ed1c24, #96080e);
    text-align: left;
    width: 100%;
    min-height: 245px;
    padding: 35px;
	padding-top:20px;
	color:#fff;
}

.search_maps_btn{
    background-color: #bebebe;
    margin: 5px;
	height:75px;
	width:190px;
	border-radius: 0px;
	border: 1px solid transparent;
	color:#000;
	line-height: 2.42857143;
	font-size: 22px;
		
}

.active_okr{
	font-weight: 900;
}

#fixedbanner {
    position: fixed;
    margin-top: -172px;
    left: 50%;
	top:50%;
    z-index: 99;
    display: none;
    width: 800px;
    margin-left: -400px;
}
.stat_par{
	font-size: 25px; margin:20px 100px;
}
.red_get{font-size: 28px; padding-left:10%; padding-right:10%;}
.table-responsive {
    overflow-x: initial;
}